.main_content_div{
    width: 100%;
    padding: 20px;
    position: relative;
    .header_lbl{
        display: block;
        font-family: 'bold';
        font-size: 24px;
        margin-bottom: 50px;
    }
}