<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-label class="header_lbl">Which document would you like to upload ?</ion-label>

    <ion-item button (click)="buttonClick()" detail>
      <ion-label>
        International Passport
      </ion-label>
    </ion-item>
    
    <ion-item button (click)="buttonClick()" detail>
      <ion-label>
        National ID Card
      </ion-label>
    </ion-item>
    
    
  </div>
</ion-content>
