.main_content_div{
    width: 100%;
    padding: 20px;

    .car_image{
        height: 120px;
        width: 120px;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    ion-searchbar{
        --background : #f3f3f3;
        padding: 0;
    }

    ion-input{
        border-radius: 5px;
        --background : #f3f3f3;
        margin-top: 20px;
        --padding-start: 8px
    }
    ion-select{
        background : #f3f3f3;
        border-radius: 10px;
    }

    ion-button{
        --background: var(--ion-color-main);
        font-family: 'semi-bold';
        --border-radius: 5px;
        margin-top: 20px;
    }
}