<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" color='dark' mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <div class="user_image"  [style.backgroundImage]="'url(assets/imgs/user.jpg)'"></div>

    <ion-label class="username">Jonh Doe</ion-label>

    <div class="verify_lbl">
      <img src="assets/imgs/msg.png">
      <ion-label>&nbsp;&nbsp;&nbsp;I'm quit type</ion-label>
    </div>

    <div class="verify_lbl">
      <img src="assets/imgs/music.png">
      <ion-label>&nbsp;&nbsp;&nbsp;It's all about playlist</ion-label>
    </div>
    
    <div class="verify_lbl">
      <img src="assets/imgs/pet.png">
      <ion-label>&nbsp;&nbsp;&nbsp; No Pet's please</ion-label>
    </div>

    <div class="gray_div"></div>
    
    <div class="verify_lbl">
      <ion-icon class="green_icn" name="checkmark-circle-outline"></ion-icon>
      <ion-label>&nbsp;&nbsp;&nbsp;Phone Verified</ion-label>
    </div>
    
    <div class="verify_lbl">
      <ion-icon class="green_icn" name="checkmark-circle-outline"></ion-icon>
      <ion-label>&nbsp;&nbsp;&nbsp;ID Verified</ion-label>
    </div>

    <div class="gray_div"></div>

    <div class="verify_lbl">
      <ion-label>Member since Feb 2020</ion-label>
    </div>
  </div>
</ion-content>
